<h2>Search Developers</h2>
<form action="/developers" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% developers.forEach(developer => { %>
    <div><%= developer.name %></div>
    <a href="/developers/<%= developer.id %>">View</a>
    <a href="/developers/<%= developer.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/developers/${developer.id}` }) %>
<% }) %>