<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= game.name %>">
</div>
<div>
    <label>Developer</label>
    <select name="developer">
    <% developers.forEach(developer => { %>
        <% if (developer.id === game.developer) { %>
            <option selected label="<%= developer.name %>" value="<%= developer.id %>"></option>
        <% } else { %>
            <option label="<%= developer.name %>" value="<%= developer.id %>"></option>
        <% } %>
    <% }) %>
    </select>
</div>
<div>
<label>Release Date</label>
    <input type="date" name="releaseDate" 
        value="<%= game.releaseDate == null ? '' :
        game.releaseDate.toISOString().split('T')[0] %>">
</div>
<div>
    <label>Rating</label>
    <input type="number" name="rating" min="1" value="<%= game.rating %>">
</div>
<div>
    <label>Cover</label>
    <input type="file" name="cover" class="filepond">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><% game.description %></textarea>
</div>