<h2>Search Games</h2>
<form action="/games" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Released After</label>
        <input type="date" name="releasedAfter" value="<%= searchOptions.releasedAfter%>">
    </div>
    <div>
        <label>Released Before</label>
        <input type="date" name="releasedBefore" value="<%= searchOptions.releasedBefore%>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
<% games.forEach(game => { %>
    <a href="/games/<%= game.id %>">
    <img height="150" width="100" src="<%= game.coverImagePath %>">
    </a>
<% }) %>
</div>